doctype html
html
  head
    title Prime Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul 
            div#logo 
              img(src="/static/logof.png", alt="logo")
              | PDA
            li #[a(href='/') Home ]
            li #[a(href='/') About ]
            li #[a(href='/') Services]
            li #[a(href='/') Class info]
            li #[a(href='/contact') Contact Us]
    block content
    footer#footer  
        |  Copyright © 2019 PrimeDanceAcademy.com | All rights Reserved